_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_Store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.tmp_pdf_extract/
.idea
admin_data.js
_data/build.yml

# Extra standard ignores
.vscode/
Thumbs.db
Desktop.ini
*.log
*.tmp
*.bak
